
:root {

    --cor-black: #17181f;
    --cor-lilaz: #6c72cb;
    --cor-rosa: #cb69c1;
    --cor-branco: #eeedf0;

}


* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: #eeedf0;
    font-family: sans-serif;
}

/* Estilo da NAV BAR */

body {
    background-color: #eeedf0;
}

.menu_principal {
    background-image: linear-gradient(90deg,#6c72cb, #cb69c150);
    position: fixed;
    width: 100%;
}

.menu_principal_container ul li {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px; 
    
}

.menu_principal_container ul li a {
    padding: 8px;
    transition: 1s;
    border: 2px solid white;
    border-radius: 20px 2px;
    
}
.menu_principal_container ul li a:hover {
    border-radius: 2px 20px;
}

/* Main */

#apresentacao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#apresentacao h1 {
    color: var(--cor-black);
    letter-spacing: 2px;
}

#sobre_este_projeto {
    border: 1px solid black;
    display: flex;
}

.sobre_este_projeto_div h1 {
    color: var(--cor-black);
}

.sobre_este_projeto_div p {
    color: var(--cor-black);
}