
:root {

    --cor-black: #17181f;
    --cor-lilaz: #6c72cb;
    --cor-rosa: #cb69c1;
    --cor-branco: #eeedf0;

}


* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: #eeedf0;
    font-family: sans-serif;
}

body {
    background-color: #eeedf0;
}

/* Estilo da NAV BAR */

.menu_principal {
    background-image: linear-gradient(90deg,#6c72cbbe, #cb69c1be);
    position: fixed;
    width: 100%;
    box-shadow: 0px 0px 20px #17181f9a;
}

.menu_principal_container ul li {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px; 
    
}

.menu_principal_container ul li a {
    padding: 8px;
    transition: 1s;
    border: 2px solid var(--cor-branco);
    border-radius: 20px 2px;  
}
.menu_principal_container ul li a:hover {
    border-radius: 2px 20px;
    color: var(--cor-black);
    border: 2px solid var(--cor-black);
}

/* Main */

#apresentacao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#apresentacao h1 {
    font-size: 2em;
    letter-spacing: 2px;
    text-shadow: 3px 3px 3px #cb69c167;
}

.apresentao_style_h1 {
    background-image: linear-gradient(-90deg,var(--cor-lilaz), var(--cor-rosa));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#sobre_este_projeto {
    padding: 20px;
    
}

.sobre_este_projeto_div{
    display: grid;
    gap: 10px;
    grid-template-columns: 19.35% 19.35% 19.35% 19.35% 19.35%;
    grid-template-areas: 
    "header header header header header"
    "linha1e linha1e linha1e linha1d linha1d"
    "linha2e linha2e linha2d linha2d linha2d"
    "footer footer footer footer footer";
}

.style_h1 {
    color: var(--cor-black);
    padding-bottom: 20px;
}

.sobre_este_projeto_div p {
    color: var(--cor-black);
}

.style_h3 {
    background-image: linear-gradient(-90deg,var(--cor-lilaz), var(--cor-rosa));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 20px;
}

.card {
    box-shadow: 0 0 7px #cb69c167;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobre_este_projeto_h1 {
    grid-area: header;
    justify-self: center;
}

.sobre_este_projeto_card_introducao {
   grid-area: linha1e;
}

.sobre_este_projeto_card_nav {
    grid-area: linha1d;
}

.sobre_este_projeto {
    grid-area: linha2e;
}

.sobre_este_projeto_card_finais {
   grid-area: linha2d;
}

.sobre_este_projeto_card_meu_card {
    grid-area: footer;
}

/* Considerações finais */

#consideracoes_finais {
   padding: 20px;
}

.consideracoes_finais_div {
    display: grid;
    gap: 10px;
    grid-template-columns: 19.35% 19.35% 19.35% 19.35% 19.35%;
    grid-template-areas: 
    "header header header header header"
    "linha1e linha1e linha1d linha1d linha1d"
    "linha2e linha2e linha2e linha2d linha2d"
    "footer footer footer footer footer";
}

.consideracoes_finais_div p {
    color: var(--cor-black);
}
.consideracoes_finais_h1 {
    grid-area: header;
    justify-self: center;
}

.consideracoes_finais_ferramentas {
    grid-area: linha1e;
}
.consideracoes_finais_lembretes {
    grid-area: linha1d;
}
.consideracoes_finais_finalizacao {
    grid-area: footer;
}

/* Meu card */

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.meu_card_container {
    position: relative;
    width: 250px;
    height: 320px;
}

.meu_card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.5s ease;
}

.meu_card_style {
    border-radius: 20px 2px;
    border: solid 1px var(--cor-branco);
    box-shadow: 0 0 15px #17181f52;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meu_card_style_back {
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px 2px;
    border: solid 1px var(--cor-branco);
    box-shadow: 0 0 15px #17181f52;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meu_card:hover {
    transform: rotateY(180deg);
}

.meu_card_front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-image: linear-gradient(45deg,#6c72cb, #cb69c1);
}

.meu_card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-image: linear-gradient(-45deg,#6c72cb, #cb69c1);
    transform: rotateY(180deg);
}

.meu_card_front img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border: solid 1px var(--cor-branco);
    box-shadow: 0 0 7px #17181f;
}

.meu_card_front p {
    padding: 15px 0px 10px 0px;
    text-shadow: 3px 3px 3px #17181f41;
    font-size: 0.7em;
    letter-spacing: 1px;
}


ion-icon {
    font-size: 32px;
}